{% extends "quiz/index.html" %}
{% block content %}
<div class="container text-center">
    <h1 class="mt-2">Club Quiz</h1>
  <small>Date from: {{date.0}} to {{date.1}}, about: {% for comp in competition %}{{comp}} / {% endfor %}</small>
    <h2>Write a team with:</h2>


  <form id="clubtest" action="{% url 'quiz:result' quiz_type=quiz_type %}" method="post" class="row gy-5 g-3 justify-content-center">
    <div class="col-4">
      <div class="p-3 border bg-light">
        <label for="most_home" class="form-label">Most Home Goal:</label>
        <select class="form-select" id="most_home" name="most_home" required>
          <option value="" selected disabled>Select a club</option>
          {% for club in clubs_all %}
            <option value="{{ club }}">{{club}}</option>
          {% endfor %}
          </select>
      </div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">
        <label for="most_away" class="form-label">Most Away Goal:</label>
        <select class="form-select" id="most_away" name="most_away" required>
          <option value="" selected disabled>Select a club</option>
          {% for club in clubs_all %}
            <option value="{{ club }}">{{club}}</option>
          {% endfor %}
          </select>
      </div>
    </div>
    {% csrf_token %}
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-danger">Send</button>
    </div>
  </form>
</div>

{% endblock %}