<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Football Quiz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-body-tertiary bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand mb-1 mt-1 mb-lg-0" href="{% url 'quiz:main' %}">
          <img src="/static/quiz/logo2.png" alt="Logo" width="35" class="d-inline-block align-text-top ">
          <span >Football Quiz</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Quiz
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'quiz:clubs' %}">Club</a></li>
                <li><a class="dropdown-item" href="{% url 'quiz:national' %}">National</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Top
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'quiz:ranking' quiz_type='national' %}">Rank National Quiz</a></li>
                <li><a class="dropdown-item" href="#">Most Assist</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                FunFact
              </a>
              <ul class="dropdown-menu"><li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" role="button">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link fw-bolder text-danger" href="{% url 'quiz:profile' user_id=user.id %}">{{user.username}}</a>
            </li>
          <li class="nav-item">
            <a class="nav-link fw-bolder text-danger" href="{% url 'user:logout_request' %}">Logout</a>
            </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link fw-bolder text-danger" href="{% url 'user:login_request' %}">Login</a>
            </li>
          <li class="nav-item">
            <a class="nav-link fw-bolder text-danger" href="{% url 'user:register' %}">Register</a>
            </li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  {% if message %}
<div class="alert alert-danger mt-1">
    {{ message }}
</div>
{% endif %}
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>