{% extends "quiz/index.html" %}
{% block content %}
<div class="container mt-2 overflow-hidden text-center">
    <div class="row gy-5">
      <div class="col-6">
        <div class="p-3 border bg-light">
          <a href="{% url 'quiz:quiz' quiz_type='clubs' %}">Clubs</a></div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">
          <a href="{% url 'quiz:quiz' quiz_type='national'%}">National Teams</a></div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">
        <a href="{% url 'quiz:quiz' quiz_type='stadium' %}">Stadium</a>
        </div>
    </div>
      <div class="col-4">
        <div class="p-3 border bg-light">
          <a href="{% url 'quiz:quiz' quiz_type='wc' %}">World Cup</a>
        </div>
      </div>
      <div class="col-4">
        <div class="p-3 border bg-light">Squad challange</div>
      </div>
    </div>
  </div>
{% endblock %}