{% extends "quiz/index.html" %}
{% block content %}
<div class="container mt-2 overflow-hidden">
    <div class="row gy-5">
      <div class="col-3">
        <div class="p-3 border bg-light">Clubs</div>
      </div>
      <div class="col-3">
        <div class="p-3 border bg-light">Representations</div>
    </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Footballer</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Stadions</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Random</div>
      </div>
    </div>
  </div>
{% endblock %}