{% extends "quiz/index.html" %}
{% block content %}

<a href="{% url 'quiz:quiz' quiz_type='clubs' %}" class="bg-image align-items-center" style="background-image: url('/static/quiz/clubs3.jpg'); background-position: 58.33325% center; background-repeat: no-repeat; background-size: 100% 100%; height: 350px; display: block; text-decoration: none; margin-top: -1rem;">
  <div class="mask h-100 d-flex flex-column justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="h-auto">
      <h1 class="text-white m-2 text-center" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Clubs</h1>
    </div>
    <p class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.8); padding: 1rem;">
      <strong>Test your knowledge about football clubs!</strong> <br>
      From August 31, 2002, to December 31, 2022, <br>
      This quiz covers top leagues and competitions like <br>
      Bundesliga, FA Cup, Ligue 1, Premier League, La Liga, Serie A, UEFA Champions League, and UEFA Europa League.<br>
      Explore the rich history, rivalries, and achievements of iconic clubs. <br>
      Challenge yourself and prove your expertise in the world of football clubs!<br>
    </p>
  </div>
</a>
<a href="{% url 'quiz:quiz' quiz_type='national' %}" class="bg-image align-items-center" style="background-image: url('/static/quiz/national3.jpg'); background-position: 58.33325% center; background-repeat: no-repeat; height: 350px; display: block; text-decoration: none;">
  <div class="border-top border-1 border-danger mask h-100 d-flex flex-column justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="h-auto">
      <h1 class="text-white m-2 mb-4 text-center" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">National</h1>
    </div>
    <p class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.8); padding: 1rem;">
      <strong>Test your knowledge about national football teams!</strong> <br>
      From November 30, 1872, to March 29, 2023, <br>
      This quiz covers national team competitions from all around the world. <br>
      From the historic matches of the FIFA World Cup to regional tournaments like: <br>
      the UEFA European Championship, CONMEBOL Copa America, AFC Asian Cup, CAF Africa Cup of Nations, and CONCACAF Gold Cup,<br>
      Explore the rich history, rivalries, and achievements of national football teams. <br>
      Challenge yourself and prove your expertise in the world of international football competitions!<br>
    </p>
  </div>
</a>
<a href="{% url 'quiz:quiz' quiz_type='stadium' %}" class="bg-image align-items-center" style="background-image: url('/static/quiz/stadium3.jpg'); background-position: 58.33325% center; background-repeat: no-repeat; background-size: 100% 100%; height: 350px; display: block; text-decoration: none;">
  <div class="border-top border-1 border-danger mask h-100 d-flex flex-column justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="h-auto">
      <h1 class="text-white m-2 mb-4 text-center" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Stadium</h1>
    </div>
    <p class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.8); padding: 1rem;">
      <strong>Test your knowledge about stadiums around the world!</strong> <br>
      This quiz covers some of the biggest and most iconic stadiums from various countries. <br>
      Discover which country boasts the most big stadiums and learn about the rich history and cultural significance of these sporting arenas. <br>
      Challenge yourself and prove your expertise in the world of stadiums and their significance in the realm of sports!<br>
    </p>
  </div>
</a>

<a href="{% url 'quiz:quiz' quiz_type='wc' %}" class="bg-image align-items-center" style="background-image: url('/static/quiz/WC3.jpg'); background-position: 58.33325% center; background-repeat: no-repeat; height: 350px; display: block; text-decoration: none;">
  <div class="border-top border-1 border-danger mask h-100 d-flex flex-column justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="h-auto">
      <h1 class="text-white m-2 mb-4 text-center" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">World Cup</h1>
    </div><p class="text-center text-white" style="background-color: rgba(0, 0, 0, 0.8); padding: 1rem;">
      <strong>Test your knowledge about the FIFA World Cup!</strong> <br>
      From July 13, 1930, to December 31, 2022, <br>
      This quiz covers the prestigious FIFA World Cup tournament. <br>
      Discover fascinating facts about the tournament's rich history, memorable moments, and legendary players. <br>
      Challenge yourself with questions about the most appearances, top goal scorers, winning teams, and iconic matches. <br>
      Prove your expertise in the world of the FIFA World Cup and become a true connoisseur of the beautiful game!<br>
    </p>
  </div>
</a>
{% endblock %}