{% extends "quiz/index.html" %}
{% block content %}
<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
<a href="{% url 'football_quiz:main_quiz' %}" class="banner-link main-quiz">
  <div class="mask h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="h-auto">
      <h1 class="text-white m-2 text-center banner-title">Quiz</h1>
    </div>
    <p class="text-center text-white banner-text">
      <strong>Test your knowledge with an exciting quiz challenge!</strong> <br>
      Embark on a journey to showcase your expertise in the realm of football.<br>
      This quiz challenge covers a wide range of competitions, including Clubs, National Teams, Stadiums, and the World Cup. <br>
    </p>
  </div>
</a>
</div>
<div class="carousel-item">
<a href="{% url 'football_quiz:main_squad' %}" class="banner-link main-squad">
  <div class="mask h-100 d-flex flex-column justify-content-center align-items-center">
    <div class="h-auto">
      <h1 class="text-white m-2 text-center banner-title">Squad</h1>
    </div>
    <p class="text-center text-white banner-text">
      <strong>Test your knowledge about football squads!</strong> <br>
      This squad challenge allows you to explore various aspects of different football teams. <br>
      Choose from different types of squads, including the value squad, goal squad, assist squad, and yellow card squad. <br>
    </p>
  </div>
</a>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}