{% extends "quiz/index.html" %}

{% block content %}
  <div class="container text-center">
    <h1 class="mt-2">National Team Quiz</h1>
    <small>Date from: {{date.0}} to {{date.1}}</small>
    <h2>Write a team with:</h2>

   
    <form id="nationaltest" action="{% url 'quiz:result' quiz_type=quiz_type %}" method="post" class="row gy-5 g-3 justify-content-center">
      <div class="col-4">
        <div class="p-3 border bg-light">
          <label for="most_goal" class="form-label">Most Goal:</label>
          <select class="form-select" id="most_goal" name="most_goal" required>
            <option value="" selected disabled>Select a nation</option>
            {% for country in nation %}
            <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="col-4">
        <div class="p-3 border bg-light">
          <label for="most_home_goal" class="form-label">Most Home Goal:</label>
          <select class="form-select" id="most_home_goal" name="most_home_goal" required>
            <option value="" selected disabled>Select a nation</option>
            {% for country in nation %}
            <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="col-4">
        <div class="p-3 border bg-light">
          <label for="most_away_goal" class="form-label">Most Away Goal:</label>
          <select class="form-select" id="most_away_goal" name="most_away_goal" required>
            <option value="" selected disabled>Select a nation</option>
            {% for country in nation %}
            <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="p-3 border bg-light">
          <label for="most_own_goal" class="form-label">Most Own Goal:</label>
          <select class="form-select" id="most_own_goal" name="most_own_goal" required>
            <option value="" selected disabled>Select a nation</option>
            {% for country in nation %}
            <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="p-3 border bg-light">
          <label for="most_wc_goal" class="form-label">Most WC Goal:</label>
          <select class="form-select" id="most_wc_goal" name="most_wc_goal" required>
            <option value="" selected disabled>Select a nation</option>
            {% for country in nation %}
            <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="p-3 border bg-light">
          <label for="most_penalty_goal" class="form-label">Most penalty Goal:</label>
          <select class="form-select" id="most_penalty_goal" name="most_penalty_goal" required>
            <option value="" selected disabled>Select a nation</option>
            {% for country in nation %}
            <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      
      {% csrf_token %}
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-danger">Send</button>
      </div>
    </form>
  </div>
{% endblock %}
