{% extends "quiz/index.html" %}
{% block content %}
<div class="container text-center">
    <h1 class="mt-2">{{ quiz_type|title }} quiz</h1>
  <small>Date from: {{first_date}} to {{last_date}} {% if competition.all|length  < 20 %}, about: {% for comp in competition %}{{comp}} / {% endfor %}{% endif %}</small>
    <h2>Choose a team with:</h2>

<form id="test" action="{% url 'quiz:result' quiz_type=quiz_type %}" method="post" class="row gy-5 g-3 justify-content-center">
    {% for question in questions %}
    <div class="col-4">
        <div class="p-3 border bg-light">
        <label for="{{question}}" class="form-label">{{question}}</label>
        <select class="form-select" id="{{question}}" name="{{question}}" required>
            <option value="" selected disabled>Select team</option>
            {% for team in teams %}
            <option value="{{ team }}">{{ team }}</option>
            {% endfor %}
        </select>
        </div>
    </div>
    {% endfor %}
    {% csrf_token %}
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-danger">Send</button>
    </div>
  </form>
</div>
{% endblock %}