{% extends "quiz/index.html" %}{% block title %}Squad Challange{% endblock %}
{% block content %}
<form autocomplete="off" id="test" action="{% url 'quiz:result' quiz_type=quiz_type %}" method="post">
    <main class="pt-2 background-pitch">
      <section class="d-flex justify-content-md-evenly justify-content-sm-center flex-wrap">
        {% for _ in attack|slice:":2" %}
        <div class="p-2">
          <input class="p-2" list="striker" placeholder="striker" name="striker[]" required multiple>
          <datalist id="striker">
            {% for player in attack %}
              <option value="{{ player }}">{{ player }}</option>
            {% endfor %}
          </datalist>
        </div>
        {% endfor %}
      </section>
      <section class="d-flex justify-content-md-between justify-content-sm-center flex-wrap">
        {% for _ in middlefielder|slice:":4" %}
          <div class="col-md-2 col-sm-6 flex-wrap p-2">
            <input class="p-2 w-100" list="middlefielder" placeholder="middlefielder" name="middlefielder[]" required multiple>
            <datalist id="middlefielder">
              {% for player in middlefielder %}
                <option value="{{ player }}">{{ player }}</option>
              {% endfor %}
            </datalist>
          </div>
        {% endfor %}
      </section>
      <section class="d-flex justify-content-md-between justify-content-sm-center flex-wrap">
        {% for _ in defender|slice:":4" %}
          <div class="col-md-2 col-sm-6 flex-wrap p-2">
            <input class="p-2 w-100" list="defender" placeholder="defender" name="defender[]" required multiple>
            <datalist id="defender">
              {% for player in defender %}
                <option value="{{ player }}">{{ player }}</option>
              {% endfor %}
            </datalist>
          </div>
        {% endfor %}
      </section>
      <section class="d-flex justify-content-center">
        <div class="mb-2">
          <input class="p-2" list="goalkeeper" placeholder="goalkeeper" name="goalkeeper" required>
          <datalist id="goalkeeper">
            {% for player in goalkeeper %}
              <option value="{{ player }}">{{ player }}</option>
            {% endfor %}
          </datalist>
        </div>
      </section>
    </main>
  {% csrf_token %}
  <section class="d-flex justify-content-center mt-4">
    <button class="btn btn-primary btn-block">Send</button>
  </section>
</form>
{% endblock %}
