.banner-link {
    background-position: 58.33325% center;
    background-repeat: no-repeat;
    display: block;
    text-decoration: none;
    height: 350px;
    background-size: 100% 100%; 
    margin-top: -1rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.banner-text {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  color: white;
}

.banner-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.value-squad {
  background-image: url('/static/quiz/value_squad.jpg');
}

.goal-squad {
  background-image: url('/static/quiz/goal_squad.jpg');
}

.assist-squad {
  background-image: url('/static/quiz/assist_squad.jpg');
}

.yellow-squad {
  background-image: url('/static/quiz/yellow_squad.jpg');
}

.main-quiz {
  background-image: url('/static/quiz/main_quiz.jpg');
}

.main-squad {
  background-image: url('/static/quiz/main_squad.jpg');
}

.quiz-clubs{
  background-image: url('/static/quiz/clubs3.jpg');
}

.quiz-national{
  background-image: url('/static/quiz/national3.jpg');
}

.quiz-stadium{
  background-image: url('/static/quiz/stadium3.jpg');
}

.quiz-wc{
  background-image: url('/static/quiz/WC3.jpg');
}

.background-pitch{
  background: url('/static/quiz/pitch3.jpg') no-repeat center center fixed; 
  height: 100%; 
  width: 100%; 
  background-size: cover; 
  position: absolute; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
}

.div-pitch{
  position: relative;
  height: calc(100vh - 56px);
}